<div class="card">
    <div class="card-body">
        <div class="jumbotron-mt-4 mb-3 d-grid">
            <h1 class = "display-4 mb-3 d-grid"> Proyecto Bases de Datos Avanzados</h1>
            <hr class = "my-4 mb-3 d-grid">
            <p style="font-size: xx-large;">
                Integrantes: Yoarlin, Fernando, Jimena, Eilyn<h1></h1>
            </p>
            <div class="text-center">
            </div>              
        </div>
    </div>
</div>