
<script>
    $(document).ready(function() {
       $('#submit').click(function() {          
         var msg = '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
               'Cliente creado' +
               '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

         $("p").html(msg);
         $("#clients_form").get(0).reset();
       });

    });
</script>

<p></p>

<form id="clients_form" method="POST">
  <div class="mb-3">
    <label class="form-label">Cédula</label>
    <input type="text" class="form-control" id="id" name="id">
  </div>
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
  </div>
  <div class="mb-3">
    <label class="form-label">Primer Apellido</label>
    <input type="text" class="form-control" id="last_name" name="last_name">
  </div>
  <button type="button" id="submit" class="btn btn-primary">Crear</button>

</form>