<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Cliente</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary">buscar</button>

  <p><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Cliente</div>
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>
  
  <p><div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Cédula</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">ID del producto</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Cantidad</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Modificar</button>
</form>