
<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card mt-5">
            <div class="card-header">
                <center> <h1>Menú</h1></center>
            </div>
                <center>
                <div class="card-body">
                    <a href = "/gestion/gestionClientes" class = "btn btn-primary btn-lg" style="background-color: hsl(231, 94%, 49%);">Gestión de clientes</a><h1></h1>
                    <a href = "/gestion/gestionCatalogo" class = "btn btn-primary btn-lg" style="background-color: hsl(231, 94%, 49%);">Gestión de catálogo</a><h1></h1>
                    <a href = "/gestion/gestionCompras" class = "btn btn-primary btn-lg" style="background-color: hsl(231, 94%, 49%);">Gestión de compras</a><h1></h1>
                    <a href = "/" class = "btn btn-primary btn-lg" style="background-color: hsl(231, 94%, 49%);">Regresar al Inicio</a><h1></h1>
                </div>               
            </div>
            </center>
        </div>
    </div>
</div> 