
<script>
    $(document).ready(function() {
       $("#step2").get(0).hidden = true;
       $('#submit2').click(function() {          
         var msg = '<div class="alert alert-success alert-dismissible fade show" style="margin: 1em;" role="alert">' +
               'Cliente econtrado! Edite la siguiente información' +
               '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

         $("p").html(msg);
         $("#step1").get(0).hidden = true;
         $("#step2").get(0).hidden = false;
         $("#clients_form").get(0).reset();
       });

    });
</script>

<script>
    $(document).ready(function() {
       $('#submit').click(function() {          
         var msg = '<div class="alert alert-success alert-dismissible fade show" style="margin: 1em;" role="alert">' +
               'Cliente modificado' +
               '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

         $("p").html(msg);
          $("#step1").get(0).hidden = false;
         $("#step2").get(0).hidden = true;
         $("#clients_form").get(0).reset();
       });

    });
</script>

<form id="clients_form">
  <p>
    <div id="step1">
  <div class="mb-3">
    <label  class="form-label">Cédula del cliente por modificar</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button id="submit2" type="button" class="btn btn-primary">buscar</button>
    </div>
  <div id="step2">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Cédula</label>
      <input  class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Nombre</label>
      <input  class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Primer apellido</label>
      <input  class="form-control" id="exampleInputPassword1">
    </div>
    <button type="button" id="submit" class="btn btn-primary">Modificar</button>
  </div>
</form>