<script>
    $(document).ready(function() {
       $("#step2").get(0).hidden = true;
       $('#submit1').click(function() {          
         var msg = '<div class="alert alert-success alert-dismissible fade show" style="margin: 1em;" role="alert">' +
               'Producto encontrado! Edite la siguiente información' +
               '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

         $("p").html(msg);
         $("#step1").get(0).hidden = true;
         $("#step2").get(0).hidden = false;
         $("#product_form").get(0).reset();
       });

    });

    $(document).ready(function() {
       $('#submit2').click(function() {          
         var msg = '<div class="alert alert-success alert-dismissible fade show" style="margin: 1em;" role="alert">' +
               'Producto modificado' +
               '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

         $("p").html(msg);
          $("#step1").get(0).hidden = false;
         $("#step2").get(0).hidden = true;
         $("#product_form").get(0).reset();
       });

    });
</script>


<form id="product_form">
  <p>

  <div id="step1">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Id del producto por modificar</label>
      <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="button" id="submit1" class="btn btn-primary">Buscar</button>
  </div>

  <div id="step2">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Id</label>
      <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Nombre</label>
      <input  class="form-control" id="exampleInputPassword1">
    </div>
     <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Marca</label>
      <input  class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Precio</label>
      <input  class="form-control" id="exampleInputPassword1">
    </div>
    <button type="button" id="submit2" class="btn btn-primary">Modificar</button>
  </div>
</form>