
    <div class="container-fluid py-5">
        <div class="card">
            <div class="card-body">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1"> 
                <body>
                    <h1 class = "text-center"> Insertar Archivo CSV</h1>
                    <title>title </title>
                    <hr class = "my-4 mb-3 d-grid">
                    <div class="container">
                        <h1 class="text-center text-primary mt-3 mb-3"><b></b></h1>
                        <div class="card text-center">
                            <div class="card-header">
                                Cargar  archivo
                            </div>
                            <div class="card-body">
                            <form action="/uploadProfilePicture"
                            enctype="multipart/form-data" method="POST">
                            <span>Carga tu archivo CSV Aquí:</span>
                            <input type="file" accept=".csv" name="mypic" required/> <br></p> <input type="submit" value="Enviar" ></p>
                            </p><div class="card-footer text muted"></p>
                                *Solo se permite el ingreso de archivos csv
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>            
                </body>
        </div>
    </div>
