

<div class="jumbotron">
  <h1 class="display-4">Menú de Consultas</h1>
  <p class="lead">Seleccione el botón de la consulta que desea realizar.</p>
  <hr class="my-4">
  <p>Top 5 de productos más vendidos.</p>
  <a class="btn btn-primary btn-lg" href="/consultas/consulta1" role="button">Consulta 1</a>
  <hr class="my-4">
  <p>Top 5 de marcas más vendidas.</p>
  <a class="btn btn-primary btn-lg" href="/consultas/consulta2" role="button">Consulta 2</a>
  <hr class="my-4">
  <p>Top 5 de clientes con más compras.</p>
  <a class="btn btn-primary btn-lg" href="/consultas/consulta3" role="button">Consulta 3</a>    
  <hr class="my-4">
  <p>Búsqueda de un cliente.</p>
  <a class="btn btn-primary btn-lg" href="/consultas/consulta4" role="button">Consulta 4</a>
  <hr class="my-4">
  <p>Clientes y producto común.</p>
  <a class="btn btn-primary btn-lg" href="/consultas/consulta5" role="button">Consulta 5</a>    
  <hr class="my-4">
  <p>Clientes compras en común.</p>
  <a class="btn btn-primary btn-lg" href="/consultas/consulta6" role="button">Consulta 6</a>  
</div>